* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Vazirmatn", sans-serif;
    z-index: 2;
    user-select: none;
}

/* 1vh === 8px */

body {
    direction: rtl;
    background-color: #222;
    color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
    gap: 2vh;
    font-size: 3.4vh;
    overflow: hidden;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("./assets/Vazirmatn-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

div {
    text-shadow: 0 0 1vh #1d1d1d;
}

.dvd-csi {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 10vh;
    width: 10vh;
    background: url("./assets/dvd-csi.png") center/cover no-repeat;
    opacity: 0.8;
}

.countdown {
    font-size: 14vh;
    padding: 5vh;
}

.setting-btn {
    position: absolute;
    top: 1vh;
    right: 1vh;
    width: 6.5vh;
    height: 6.5vh;
    background: url("./assets/setting-icon.svg") center/cover no-repeat;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s 1.2s;
    z-index: 3;
    opacity: 0.3;
}
.setting-btn:hover {
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1;
}

.setting-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 1.8vh));
    width: 62.5vh;
    height: 36vh;
    background-color: rgb(8, 8, 8);
    box-shadow: 0 0 3000px 3000px rgba(0, 0, 0, 0.5);
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 0.125vh solid #fff;
    border-radius: 3vh;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.setting-modal.show {
    display: flex;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.modal-header {
    padding: 2.25vh 0 2.5vh;
}

.header-EE {
    margin: 0 0.625vh 0 0.625vh;
    cursor: default;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.ICARUS {
    cursor: pointer;
    transition: color 0.15s;
}
.ICARUS:hover {
    color: rgb(131, 135, 255);
}

.modal-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 84%;
    gap: 1.5vh;
}
.modal-content div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25vh;
}

input[type="checkbox"] {
    accent-color: rgb(82, 93, 248);
    width: 3vh;
    height: 3vh;
    padding-inline: 0;
    padding-block: 0;
}

input[type="time"] {
    font-size: 2.25vh;
    color: black;
    width: 20vh;
    height: 4.75vh;
}
